pkgbase = autoclockspeed-bin
	pkgdesc = A utility to check stats about your CPU, and auto regulate clock speeds to help with either performance or battery life.
	pkgver = 0.1.9
	pkgrel = 1
	url = https://github.com/JakeRoggenbuck/auto-clock-speed
	arch = x86_64
	license = MIT
	provides = autoclockspeed
	conflicts = autoclockspeed
	source = https://github.com/JakeRoggenbuck/auto-clock-speed/releases/download/v0.1.9/autoclockspeed-0.1.9-x86_64.tar.gz
	sha256sums = ed8b2b45ad3441afd4d17fa888f019c43eb367bed351e2d8a11455866b8858e5

pkgname = autoclockspeed-bin
