pkgbase = autoclockspeed-bin
	pkgdesc = A utility to check stats about your CPU, and auto regulate clock speeds to help with either performance or battery life.
	pkgver = 0.1.9
	pkgrel = 1
	url = https://github.com/JakeRoggenbuck/auto-clock-speed
	arch = x86_64
	license = MIT
	provides = autoclockspeed
	conflicts = autoclockspeed
	source = https://github.com/JakeRoggenbuck/auto-clock-speed/releases/download/v0.1.9/autoclockspeed-0.1.9-x86_64.tar.gz
	sha256sums = a85616cd8861e76c11791584879defa70b03c88f86a33ce86c348c7251227a1c

pkgname = autoclockspeed-bin
