[Unit]
Description=Manages Clock Speed

[Service]
ExecStart=/home/[Your Directory Name Here]/.cargo/bin/acs run

[Install]
WantedBy=multi-user.target
